# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================================
# VENV
# =====================================================

venv/
.env
.venv/

# =====================================================
# DATABASE
# =====================================================

*.db
*.sqlite3

# =====================================================
# LOGS
# =====================================================

logs/
*.log

# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# SYSTEM
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# BUILD
# =====================================================

dist/
build/
*.egg-info/

# =====================================================
# CACHE
# =====================================================

.pytest_cache/
.mypy_cache/
